
venv/
__pycache__/
*.pyc
experiments/analysis/out/*.csv
backend/data/*.sqlite



# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Local data
log.json
*.sqlite
*.db

# VS Code and IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

token.txt
.env
*.env
